ul {
    list-style-type: none;
}

li {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #3a3a3a;
}

a:hover {
    color: #003459
}

label, input {
    display: inline-block;
}
 input {
     margin-bottom: 10px;
 }

p {
    text-align: justify;
    text-justify: inter-word;
}

 /*************************************************|
 |         IMAGE PRINCIPALE - HOME - ARTICLE       |
 |*************************************************/
.menu-mobile {
    background-color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    z-index: 10000;
    padding-top: 10px;
    box-shadow: 0 6px 9px -2px lightgray;
}

.menu-mobile ul {
    margin-left: -10%;
}

.hero {
    height: 55vh;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.hero-text {
    background-color: rgba(0, 52, 89, 0.7);
    height: 21vh;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.hero-text-content {
    width: 30%;
}

.hero-p {
    font-size: 16px;
}

.hero-date {
    font-size: 10px;
    margin-bottom: -1px;
}

/*************************************************|
|         BANDEAU DE CATEGORIES                   |
|*************************************************/

.item-categorie {
    background-color: white;
    color: #003459;
    border: 1px solid #003459;
    border-radius: 10px;
    width: 10%;
    text-align: center;
    padding: 5px;
}

.selected {
    background-color: #003459;
    color: white;
}

.item-categorie:hover {
    background-color: #003459;
    color: white;
    transition-duration: 0.3s ;
    cursor: pointer !important;
}

.item-article {
    width: 20rem;
    margin-bottom: 50px;
}

.test {
    height: 50vh;
}

.div_categorie {

    padding-top: 5%;
    padding-bottom: 5%;
}

/*************************************************|
|         FLECHE DE REMONTEE                      |
|*************************************************/

#goUp {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: rgba(56,55,55,0.6);
    height: 40px;
    width: 50px;
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 5%;
    display: none;
}

#suppr {
    cursor: pointer !important;
}

.form {
    height: 85vh;
}

.contact {
    height: 100vh;
}
.avatar_article {
    height: 100px;
    width: 100px;
}

.image_article{
    height: 50vh;
}

.test_contenu p {
    font-size: 20px;
}

.commenter {
    width: 80%;
}

#open-menu {
    display: none;
}


/*==============================================================
|              CLASSE UTILITAIRES                              |
==============================================================*/


.gros_h2 {
    font-size: 34px;
}

.largeurPerso {
    width: 28%;
}

.largeur90 {
    width: 90%;
}

.bouton {
    background-color: #003459;
    color: white;
    border: none;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.bouton:hover {
    color: white;
    background-color: #00243d;
    transition-duration: 0.3s ;
}

.bouton-suppr {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.bouton-suppr:hover {
    background-color: #BB0404;
    color: white;
    transition-duration: 0.3s ;
}

.container-perso {
    width: 80%;
    margin: auto;
}

.text-myBlack {
    color: #3a3a3a;
}

.blue {
    color: #00243d !important;
}

.round {
    border-radius: 15px;
}

.titre-md {
    font-size: 25px;
}

.titre-xl {
    font-size: 80px;
    font-weight: bold;
}

.p-xs {
    font-size: 10px !important;
}

.error-message {
    font-size: 14px;
}

.marge-reset {
    margin-bottom: -3px;
}

.largeur10 {
    width: 10%;
}

.largeur70 {
    width: 56.5%;
}


@media (max-width: 905px){
    .table thead {
        display: none;
    }
    .table tr{
        display: block;
        margin-bottom: 40px;
    }
    .table td {
        display: block;

    }
    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .table {
        width: 100%;
    }

}

/*************************************************|
|                  RESPONSIVE                     |
|*************************************************/


@media only screen and (min-width: 0px) and (max-width: 650px){

    header {
        position: fixed;
        top: 0%;
        z-index: 10000;
        background-color: white;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }

    header.container-perso {
        width: 100%;
    }

    .container-mobile {
        margin-top: 100px;
    }

    .container-mobile-2 {
        margin-top: 6rem !important;
    }

    p.categorie-article {
        width: 100%;
    }

    .menu {
       display: none;
    }

    #open-menu {
        display: block;
    }

    .item-categorie {
      width: 40%;
        font-size: 9px;
    }

    .div_categorie {
        flex-wrap: wrap;
        gap: unset;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .largeurPerso {
        width: 95%;
    }

    .fichierAvatar {
        color: transparent;
    }

    .test_contenu p {
        font-size: 12px;
    }

    .commenter {
        width: 100%;
    }

    .gros_h2 {
        font-size: 20px;
    }

    .titre_categorie {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        height: 15vh;
    }

    .hero-text {
        height: 10vh;
    }

    .hero .gros_h2 {
        font-size: 15px;
    }

    .hero-text-content {
        width: 100%;
    }

    .hero-p {
        display: none;
    }


    .titre-xl {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .hero_image {
        height: 20vh;
    }

    .avatar_article {
        height: 50px;
        width: 50px;
    }

    .commentaire {
        font-size: 10px;
    }

    .suppr {
        display: none;
    }

    .date_article {
       font-size: 8px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 768px){

    .item-categorie {
        width: 30%
    }

    .div_categorie {
        flex-wrap: wrap;
        gap: unset;
    }

    .largeurPerso {
        width: 70%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px){

    .item-categorie {
        width: 30%;
        font-size: 13px;
    }

    .div_categorie {
        flex-wrap: wrap;
        gap: unset;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .largeurPerso {
        width: 70%;
    }
    .hero {
        height: 20vh;
        background-position: center;
        background-size: cover;
    }

    .hero-text {
        height: 10vh;
    }

    .hero .gros_h2 {
        font-size: 15px;
    }

    .hero-p {
        display: none;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1700px){

    .item-categorie {
        width: 30%
    }

    .div_categorie {
        flex-wrap: wrap;
        gap: unset;
    }



}